.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pure-menu-selected .pure-menu-link,.pure-menu-selected .pure-menu-link:visited {
  color: #fff;
}

.content {
  min-height: 450px;
  text-align: center;
}

.child-content {
  margin: auto;
  text-align: left; 
  min-width: 300px;
}
